body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
}

.tracking-page {
    
    text-align: center;
}

.tracking-page h1 {
    color: green;
    
}

.container {
    max-width: 8200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
